@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

#wrapper-participantdash{
	padding-left: 0px;
}
#mainContainer{
	padding-bottom:30px;
}
.staff-steps{
	margin-top: 80px;
}
.text-black{
	color: #000;
}
.send-right{
	float:right;
}
.pricing-table{
	font-size: 15px;
}
.common-table{
	font-size: 15px;
}
.view-pricing{
	margin-bottom: 5px;
}
.pricing-table{
	margin-bottom: 0px;
}
.btn-sm{
	font-size: 15px;
}

.btn{
	font-size: 15px !important;
	padding-top: 8px !important;
	padding-bottom: 9px !important;
}
.alert{
	font-size: 15px;
}
#progressbar[data-progress-steps="2"] li { width: 50%; }
#progressbar[data-progress-steps="3"] li { width: 33%; }
#progressbar[data-progress-steps="4"] li { width: 25%; }
#progressbar[data-progress-steps="5"] li { width: 20%; }
#progressbar[data-progress-steps="6"] li { width: 16%; }
#progressbar[data-progress-steps="7"] li { width: 14%; }
#progressbar[data-progress-steps="8"] li { width: 12%; }
#progressbar[data-progress-steps="9"] li { width: 11%; }

.list-group{
	font-size: 15px;
}
.list-group-item.active{
	background-image: linear-gradient(to bottom, #e8e8e8 0px, #f5f5f5 100%);
	border: 1px solid #dddddd;
	text-shadow: none;
}
.list-group-item.active:hover, .list-group-item.active:focus{
	background-image: linear-gradient(to bottom, #e8e8e8 0px, #f5f5f5 100%);
	border: 1px solid #dddddd;
	text-shadow: none;
}
#addon-cart-summary{
	font-size: 15px;
}
.summary-table{
    font-size: 15px;
}
.activity-list-display{
	list-style: none;
}
.no-border{
	border: none;
}
.border-sides{
	border-left: 2px solid #dddddd;
	border-right: 2px solid #dddddd;
}
.eol-footer{
	margin-bottom:0;
}
.req{
	color:red;
	font-weight:bold;
}
.navbar
{
	background-color: #fff;
	background: -webkit-radial-gradient(circle, #ffffff, #f1f1f1); /* Safari 5.1-6.0 */
	background: -o-radial-gradient(circle, #ffffff, #f1f1f1); /* For Opera 11.6-12.0 */
	background: -moz-radial-gradient(circle, #ffffff, #f1f1f1); /* For Firefox 3.6-15 */
	background: radial-gradient(circle, #ffffff, #f1f1f1); /* Standard syntax */
	border-top: 2px solid #ee1e26;
	border-bottom: 2px solid #ee1e26;
}
.navbar a{
	color: #000;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #dfdfdf;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  /*color: #ffffff;*/
  background-color: #dfdfdf;
}
.navbar li img{
  margin-top: 3px;
  padding-left:15px;
  padding-right:15px;
}
#icons{
	text-align: center;
	width: 100%;
	min-height: 40px;
	padding:3px;
}
#icons img{
	width: 11%;
	height: auto;
	max-width: 123px;
	max-height: 50px;
}
.navbar-brand{
	margin-top: 2px;
}

.navbar-social{
	margin-top: 8px;
	width: 33px;
}

@media (max-width: 1390px) {
.navbar-social{
	display: none;
}
}

@media (max-width: 1100px) {
    .navbar-header {
        float: none;
    }
	.navbar-social{
		display: block;
	}
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.navbar-perma li
{
	line-height:30px;
	display:inline-block;
	*display:inline;
	zoom:1;
}
.highlight-title
{
}
.item-participant .btn
{
	padding: 25px 0 25px 0;
}
.item-participant
{
	margin: 10px 0 10px 0;
}
.item-participant-details, #payment-processing, #fbfail, #fbsuccess
{
	display:none;
}
.text-underline
{
	text-decoration: underline;
}
a.btn
{
	text-decoration:none;
}
.charity-radio
{
	position:absolute;
	left:-9999px;
}
.charity-radio-label
{
    box-shadow: none;
	transition: box-shadow linear 0.2s;
	cursor:pointer;
}
.charity-radio-label:hover
{
    box-shadow: 0 0 10px #bcd7e5;
	transition: box-shadow linear 0.2s;
}
.charity-radio:checked + label>img
{
    box-shadow: 0 0 15px #0c4360;
	transition: box-shadow linear 0.2s;
}
.well-title
{
	background:#e1e1e1;
	margin:-20px -20px 10px -20px;
	padding:10px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	text-align:center;
}
.picker-switch a:hover, .timepicker-picker table tbody tr td a:hover{
	color:#ccc;
}
html, body{
	height:100%;
	margin:0;
}
#wrap{
	min-height:74%;
	height:auto;
	margin-bottom: -41px;
	padding-bottom:80px;
}
#banner {
	background:#ffffff url('../img/banner.jpg') no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 100%;
	max-height: 200px;
	border-top: 2px solid #ee1e26;
}
@media all and (max-width:920px)
{
	ul.navbar-nav li
	{
		padding-left:20px;
	}
}
.show-right{
	text-align:right;
}
/*progressbar*/
#progressbar {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 0px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #4b4b4b;
	text-transform: uppercase;
	font-size: 12px;
	width: 12.5%;
	float: left;
	position: relative;
	text-align: center;
	cursor: default;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 30px;
	line-height: 30px;
	display: block;
	font-size: 12px;
	color: #333;
	background: #eaeaeb;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #eaeaeb;
	position: absolute;
	left: -50%;
	top: 14px;
	z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:after{
	background: #696969;
	color: white;
}
#progressbar li.active:before{  
	background: #4b4b4b;
	color: white;

}
#progressbar li.active{
	cursor: pointer;
}
#progressbar li.active:hover:before{
	color: #fff;
	background:#ed1e26; 
}
#progressbar li.active:hover a{ 
	color: #ed1e26;
	text-decoration:none;
}
#progressbar li.current{
	cursor: default;
	color: #4b4b4b;
}
#progressbar li.current:hover:after{
	background: #696969;
	color: white;
}
#progressbar li.current:hover:before{  
	background: #4b4b4b;
	color: white;

}
#progressbar li.active a{
	color: #4b4b4b;
	
}